.newTodoBox {
  padding: 2rem;
  border: 1px solid;
  margin: 2rem;
  text-align: center;
  background: antiquewhite;
}

.inputBar {
  width: 35rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: chocolate;
  border: 2px solid black;
}

.submitButton {
  margin: 1rem 0 0 0;
  font-size: 1rem;
  color: black;
  background: darkseagreen;
}

.listItem {
  font-size: 1.5rem;
  color: chocolate;
  border: 1px solid;
  padding: 1rem;
  margin: 2rem;
}

.deleteNote {
  margin: 0 0 0 0.5rem;
  font-size: 0.8rem;
  background: red;
  color: white;
}
